/////COLORS/////
$color-primary: #c69963;
$color-primary-dark: #b28541;

$color-secondary: #101d2c;

$color-white: #fff;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

/////BOX SHADOW/////
$box-shadow-1: 0 2rem 5rem rgba(#000, 0.1);
$box-shadow-2: 0 2rem 5rem rgba(#000, 0.2);

/////FONT VARIABLES/////
$font-primary: "Nunito", "sans-serif";
$font-display: "Josefin Sans", "sans-serif";
